@{
    ViewData["Title"] = "KhumaloCraft Emporium";
}

<div class="homepage-container text-center">
    <h1 class="display-4">Welcome to KhumaloCraft Emporium</h1>
    <p>Discover a world of unique, handcrafted products made with love by artisans from across the globe.</p>
    <p>Explore our <a href="/MyWork">craftwork collections</a> and connect with the artistry and heritage of our global community.</p>
</div>

<style>
    .homepage-container {
        height: 100vh;
        background: url('/images/backgroundimage.jpg') no-repeat center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }

        .homepage-container h1 {
            font-size: 4rem;
        }

        .homepage-container p {
            font-size: 2rem;
        }

        .homepage-container a {
            color: white;
            font-weight: bold;
        }

            .homepage-container a:hover {
                color: #cccccc;
            }
</style>
